@page
@model IoTSharp.Gateways.Pages.SlaveAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModbusSlave[0].Slave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModbusSlave[0].TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModbusSlave[0].DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModbusSlave[0].DeviceNameFormat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ModbusSlave) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Slave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceNameFormat)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                          <a  href="/PointMapAdmin?id=@item.Id">点位映射</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
