@page
@model IoTSharp.Gateway.Modbus.Pages.PointMapAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PointMapping[0].DataName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointMapping[0].DataType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointMapping[0].DataCatalog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointMapping[0].FunCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointMapping[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointMapping[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointMapping[0].DateTimeFormat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointMapping[0].CodePage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PointMapping) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCatalog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePage)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
